Media/data/dotScene.xsd

<?xml version="1.0" encoding="Windows-1252"?>

<!--Version 1.0.0 modified/reparied. Named: 1.0.0 (OViSE 2009)-->


<!--INTRO to dotScene and this dotScene.xsd:-->
<!--Greetings dear future user of dotScene-format.-->
<!--The dotScene format is a great way to exchange scenes from Blender to Ogre and to export and import scenes within Ogre.-->
<!--When researching existing implementations of dotScene im- and exporters, we found that they were all lacking a well thought-->
<!--out design and most important - validation of the processed xml files as well as other convenient features of XML.-->
<!--As a result of these findings, a new implementation was started. This XSD file is a direct result of this work and allows for-->
<!--validation of dotScene-XML-files. It originates from the Add-ons subversion repository of the Ogre project and was edited to-->
<!--our needs (it now conforms to the supplied Blender exporter).-->
<!--Feel free to use it and enjoy the true power of XML.  Your OViSE-Team!-->

<!--(D|#x)efect- and (S|#x)olution-list:-->

<!--(D|#1) Undeclared element "indexBuffer"-->
<!--(S|#1) Added empty element "indexBuffer"-->

<!--(D|#2) Undeclared element "numericAnimationTrack"-->
<!--(S|#2) Added empty element "numericAnimationTrack"-->

<!--(D|#3) Undeclared element "octnode"-->
<!--(S|#3) Added empty element "octnode"-->

<!--(D|#4) Undeclared element "vertexBuffer"-->
<!--(S|#4) Added empty element "vertexBuffer"-->

<!--(D|#5) Many applications placing a "quaternion"-element directly into parent-elements. For example: the "dotScene"-exporter of Blender.-->
<!--       The dotScene.dtd, which was used to create this dotScene.xsd, uses a more flexible version: an "orientation"-element. It's parent-->
<!--       a "quaternion"-, "direction" (suitable to ogre's cams f.e.), "angle_axis"- or "axisXYZ"-element (which represents rotation-martix).-->
<!--(S|#5) To use this flexible version of "orientation" and pay attention to older applications, using a 'pure' "quaternion"-elemet,-->
<!--       both has to be implemented. So a additional line has been added to each occurrence of "orientation". It allows a "quaternion"-element too.-->

<!--(D|#6) The automatically created dotScene.xsd used namespaces. But typical-applications don't write a header to dotScene XMLs. I hope that changes in future.-->
<!--(S|#6) The headline has beent commented out an a new, simple one, has been added.-->

<!--(D|#7) The order of elements in XML must fit to the sequence in a complex type here in the XSD. The BlenderExporter for Scene differs from orders here.-->
<!--(S|#7) Reorder sequences in XSD. Every violation of the sequences has to be repaired for well working exports from Blender.-->
<!--       Attention: not every wrong sequence has been found yet.-->

<!--(D|#8) Element "camera": The order of childs of element "camera" in new blender-exports don't fit to this XSD.-->
<!--(S|#8) Modified the "sequence"-elemente with a "choise"-element-->
<!--       Attention: not every wrong sequence has been found yet.-->

<!--(D|#9) Element "camera": It seems like the attribute name "FOVy" has changed in new blender-exports to "fov".-->
<!--(S|#9) Renamed the attribute to "fov"-->

<!--(D|#10) Element "camera": Missing an boolean attribute named "castShadows", which occures in new blender-exports. -->
<!--(S|#10) Added new attribute "castShadows" to "camera"-->

<!--(D|#11) Element "spotLightTange" has another name in new blender-exports:  "lightRange".-->
<!--(S|#11) Renamed element to "lightRange".-->

<!--(D|#12) Element "light": In new blender-exports a child "normal" cann occure, which is missed here."-->
<!--(S|#12) Added existing element "normal" as child-element.-->

<!-- Last edit: 23.11.2009 by H.R. -->

<!--(#6)-->
<!--ORIGINAL NAMESPACE-DEFINITIONS: <xs:schema xmlns="http://tempuri.org/dotScene" elementFormDefault="qualified" targetNamespace="http://tempuri.org/dotScene" xmlns:xs="http://www.w3.org/2001/XMLSchema">-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<!--(#6)-->
  <xs:element name="scene">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="sceneManagerOption" />
        <xs:element minOccurs="0" maxOccurs="1" ref="shadowSettings" />
        <xs:element minOccurs="0" maxOccurs="1" ref="resourceGroup" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="light" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="camera" />
        
        <!--(#7)-->
        <xs:element minOccurs="0" maxOccurs="1" ref="nodes" /> 
        <xs:element minOccurs="0" maxOccurs="1" ref="externals" />
        <xs:element minOccurs="0" maxOccurs="1" ref="environment" />
        <!--(#7)-->
        
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="animations" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="animationStates" />
        <xs:element minOccurs="0" maxOccurs="1" ref="terrain" />
        <xs:element minOccurs="0" maxOccurs="1" ref="octree" />
        <xs:element minOccurs="0" maxOccurs="1" ref="userDataReference" />
      </xs:sequence>
      <xs:attribute name="formatVersion" type="xs:string" use="required" />
      <xs:attribute name="id" type="xs:ID" />
      <xs:attribute name="sceneManagerType" type="xs:string" />
      <xs:attribute name="sceneManagerName" type="xs:string" />
      <xs:attribute name="minOgreVersion" type="xs:string" />
      <xs:attribute name="author" type="xs:string" />
      <xs:attribute default="false" name="showBoundingBoxes">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="sceneManagerOption">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="bool" />
            <xs:enumeration value="real" />
            <xs:enumeration value="int" />
            <xs:enumeration value="unsigned_int" />
            <xs:enumeration value="short" />
            <xs:enumeration value="unsigned_short" />
            <xs:enumeration value="long" />
            <xs:enumeration value="unsigned_long" />
            <xs:enumeration value="size_t" />
            <xs:enumeration value="string" />
            <xs:enumeration value="vector3" />
            <xs:enumeration value="matrix3" />
            <xs:enumeration value="matrix4" />
            <xs:enumeration value="quaternion" />
            <xs:enumeration value="colourvalue" />
            <xs:enumeration value="movableObject" />
            <xs:enumeration value="camera" />
            <xs:enumeration value="node" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="value" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="shadowSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="colourDiffuse" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="shadowTextureConfig" />
      </xs:sequence>
      <xs:attribute default="none" name="shadowTechnique">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="none" />
            <xs:enumeration value="stencilModulative" />
            <xs:enumeration value="stencilAdditive" />
            <xs:enumeration value="textureModulative" />
            <xs:enumeration value="textureAdditive" />
            <xs:enumeration value="textureModulativeIntegrated" />
            <xs:enumeration value="textureAdditiveIntegrated" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="false" name="showDebugShadows">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="shadowFarDistance" type="xs:string" />
      <xs:attribute default="10000" name="shadowDirectionalLightExtrusionDistance" type="xs:string" />
      <xs:attribute default="51200" name="shadowIndexBufferSize" type="xs:string" />
      <xs:attribute default="true" name="shadowUseInfiniteFarPlane">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="shadowTextureCount" type="xs:string" />
      <xs:attribute name="shadowTextureSize" type="xs:string" />
      <xs:attribute name="shadowTexturePixelFormat">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="PF_UNKNOWN" />
            <xs:enumeration value="PF_L8" />
            <xs:enumeration value="PF_BYTE_L" />
            <xs:enumeration value="PF_L16" />
            <xs:enumeration value="PF_SHORT_L" />
            <xs:enumeration value="PF_A8" />
            <xs:enumeration value="PF_BYTE_A" />
            <xs:enumeration value="PF_A4L4" />
            <xs:enumeration value="PF_BYTE_LA" />
            <xs:enumeration value="PF_R5G6B5" />
            <xs:enumeration value="PF_B5G6R5" />
            <xs:enumeration value="PF_R3G3B2" />
            <xs:enumeration value="PF_A4R4G4B4" />
            <xs:enumeration value="PF_A1R5G5B5" />
            <xs:enumeration value="PF_R8G8B8" />
            <xs:enumeration value="PF_B8G8R8" />
            <xs:enumeration value="PF_A8R8G8B8" />
            <xs:enumeration value="PF_A8B8G8R8" />
            <xs:enumeration value="PF_B8G8R8A8" />
            <xs:enumeration value="PF_R8G8B8A8" />
            <xs:enumeration value="PF_X8R8G8B8" />
            <xs:enumeration value="PF_X8B8G8R8" />
            <xs:enumeration value="PF_BYTE_RGB" />
            <xs:enumeration value="PF_BYTE_BGR" />
            <xs:enumeration value="PF_BYTE_BGRA" />
            <xs:enumeration value="PF_BYTE_RGBA" />
            <xs:enumeration value="PF_A2R10G10B10" />
            <xs:enumeration value="PF_A2B10G10R10" />
            <xs:enumeration value="PF_DXT1" />
            <xs:enumeration value="PF_DXT2" />
            <xs:enumeration value="PF_DXT3" />
            <xs:enumeration value="PF_DXT4" />
            <xs:enumeration value="PF_DXT5" />
            <xs:enumeration value="PF_FLOAT16_R" />
            <xs:enumeration value="PF_FLOAT16_RGB" />
            <xs:enumeration value="PF_FLOAT16_RGBA" />
            <xs:enumeration value="PF_FLOAT32_R" />
            <xs:enumeration value="PF_FLOAT32_RGB" />
            <xs:enumeration value="PF_FLOAT32_RGBA" />
            <xs:enumeration value="PF_FLOAT16_GR" />
            <xs:enumeration value="PF_FLOAT32_GR" />
            <xs:enumeration value="PF_DEPTH" />
            <xs:enumeration value="PF_SHORT_RGBA" />
            <xs:enumeration value="PF_SHORT_GR" />
            <xs:enumeration value="PF_SHORT_RGB" />
            <xs:enumeration value="PF_COUNT" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="0.6" name="shadowDirLightTextureOffset" type="xs:string" />
      <xs:attribute default="0.7" name="shadowTextureFadeStart" type="xs:string" />
      <xs:attribute default="0.9" name="shadowTextureFadeEnd" type="xs:string" />
      <xs:attribute name="shadowTextureSelfShadow">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="shadowTextureCasterMaterial" type="xs:string" />
      <xs:attribute name="shadowTextureReceiverMaterial" type="xs:string" />
      <xs:attribute default="true" name="shadowCasterRenderBackFaces">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="shadowTextureConfig">
    <xs:complexType>
      <xs:attribute name="shadowIndex" type="xs:string" use="required" />
      <xs:attribute name="width" type="xs:string" use="required" />
      <xs:attribute name="height" type="xs:string" use="required" />
      <xs:attribute name="pixelFormat" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="PF_UNKNOWN" />
            <xs:enumeration value="PF_L8" />
            <xs:enumeration value="PF_BYTE_L" />
            <xs:enumeration value="PF_L16" />
            <xs:enumeration value="PF_SHORT_L" />
            <xs:enumeration value="PF_A8" />
            <xs:enumeration value="PF_BYTE_A" />
            <xs:enumeration value="PF_A4L4" />
            <xs:enumeration value="PF_BYTE_LA" />
            <xs:enumeration value="PF_R5G6B5" />
            <xs:enumeration value="PF_B5G6R5" />
            <xs:enumeration value="PF_R3G3B2" />
            <xs:enumeration value="PF_A4R4G4B4" />
            <xs:enumeration value="PF_A1R5G5B5" />
            <xs:enumeration value="PF_R8G8B8" />
            <xs:enumeration value="PF_B8G8R8" />
            <xs:enumeration value="PF_A8R8G8B8" />
            <xs:enumeration value="PF_A8B8G8R8" />
            <xs:enumeration value="PF_B8G8R8A8" />
            <xs:enumeration value="PF_R8G8B8A8" />
            <xs:enumeration value="PF_X8R8G8B8" />
            <xs:enumeration value="PF_X8B8G8R8" />
            <xs:enumeration value="PF_BYTE_RGB" />
            <xs:enumeration value="PF_BYTE_BGR" />
            <xs:enumeration value="PF_BYTE_BGRA" />
            <xs:enumeration value="PF_BYTE_RGBA" />
            <xs:enumeration value="PF_A2R10G10B10" />
            <xs:enumeration value="PF_A2B10G10R10" />
            <xs:enumeration value="PF_DXT1" />
            <xs:enumeration value="PF_DXT2" />
            <xs:enumeration value="PF_DXT3" />
            <xs:enumeration value="PF_DXT4" />
            <xs:enumeration value="PF_DXT5" />
            <xs:enumeration value="PF_FLOAT16_R" />
            <xs:enumeration value="PF_FLOAT16_RGB" />
            <xs:enumeration value="PF_FLOAT16_RGBA" />
            <xs:enumeration value="PF_FLOAT32_R" />
            <xs:enumeration value="PF_FLOAT32_RGB" />
            <xs:enumeration value="PF_FLOAT32_RGBA" />
            <xs:enumeration value="PF_FLOAT16_GR" />
            <xs:enumeration value="PF_FLOAT32_GR" />
            <xs:enumeration value="PF_DEPTH" />
            <xs:enumeration value="PF_SHORT_RGBA" />
            <xs:enumeration value="PF_SHORT_GR" />
            <xs:enumeration value="PF_SHORT_RGB" />
            <xs:enumeration value="PF_COUNT" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="resourceGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="resourceLocation" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="resourceDeclaration" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="resourceLocation">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="type" type="xs:string" use="required" />
      <xs:attribute default="true" name="recursive">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="dotSceneFileLocation" name="relativeTo">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="dotSceneFileLocation" />
            <xs:enumeration value="exeFileLocation" />
            <xs:enumeration value="currentWorkingDir" />
            <xs:enumeration value="absolute" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="resourceDeclaration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="NameValuePairList" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="resourceType" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="NameValuePairList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="NameValuePair" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NameValuePair">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="value" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="terrain">
    <xs:complexType>
      <xs:attribute name="dataFile" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="nodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="node" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="light" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="camera" />
        <xs:element minOccurs="0" maxOccurs="1" ref="position" />
        <xs:element minOccurs="0" maxOccurs="1" ref="orientation" />
        <!--(#5)-->
        <xs:element minOccurs="0" maxOccurs="1" ref="quaternion" /> 
        <xs:element minOccurs="0" maxOccurs="1" ref="scale" />
      </xs:sequence>
      <xs:attribute default="true" name="visible">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="true" name="cascadeVisibility">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="node">
    <xs:complexType>
      <xs:sequence>
        <!--(#8)-->
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element minOccurs="0" maxOccurs="1" ref="position" />
          <xs:element minOccurs="0" maxOccurs="1" ref="orientation" />
          <!--(#5)-->
          <xs:element minOccurs="0" maxOccurs="1" ref="quaternion" />
          <xs:element minOccurs="0" maxOccurs="1" ref="scale" />
          <xs:element minOccurs="0" maxOccurs="1" ref="lookTarget" />
          <xs:element minOccurs="0" maxOccurs="1" ref="trackTarget" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="node" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="entity" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="light" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="camera" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="particleSystem" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="billboardSet" />
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="plane" />
          <xs:element minOccurs="0" maxOccurs="1" ref="userDataReference" />
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" />
      <xs:attribute name="id" type="xs:ID" />
      <xs:attribute default="true" name="visible">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="true" name="cascadeVisibility">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="false" name="isTarget">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="particleSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="commonMovableObjectParams" />
        <xs:element minOccurs="0" maxOccurs="1" ref="userDataReference" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" />
      <xs:attribute name="id" type="xs:ID" />
      <xs:attribute name="templateName" type="xs:string" use="required" />
      <xs:attribute name="materialName" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="light">
    <xs:complexType>
      <xs:sequence>
        <!--(#12)-->
        <xs:element minOccurs="0" maxOccurs="1" ref="normal" />
        <xs:element minOccurs="0" maxOccurs="1" ref="commonMovableObjectParams" />
        <xs:element minOccurs="0" maxOccurs="1" ref="position" />
        <xs:element minOccurs="0" maxOccurs="1" ref="direction" />
        <xs:element minOccurs="0" maxOccurs="1" ref="colourDiffuse" />
        <xs:element minOccurs="0" maxOccurs="1" ref="colourSpecular" />
        <!--(#11)-->
        <xs:element minOccurs="0" maxOccurs="1" ref="lightRange" />
        <xs:element minOccurs="0" maxOccurs="1" ref="lightAttenuation" />
        <xs:element minOccurs="0" maxOccurs="1" ref="userDataReference" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" />
      <xs:attribute name="id" type="xs:ID" />
      <xs:attribute default="point" name="type">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="point" />
            <xs:enumeration value="directional" />
            <xs:enumeration value="spotLight" />
            <xs:enumeration value="radPoint" />
          </xs:restriction>
        </xs:simpleType>
       
      </xs:attribute>
      <xs:attribute default="1.0" name="powerScale" type="xs:string" />
      <!--(#10)-->
      <xs:attribute default="false" name="castShadows">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="camera">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="commonMovableObjectParams" />
        <xs:element minOccurs="0" maxOccurs="1" ref="clipping" />
        <xs:element minOccurs="0" maxOccurs="1" ref="position" />
        <xs:element minOccurs="0" maxOccurs="1" ref="orientation" />
        <!--(#5)-->
        <xs:element minOccurs="0" maxOccurs="1" ref="quaternion" />
        <xs:element minOccurs="0" maxOccurs="1" ref="lookTarget" />
        <xs:element minOccurs="0" maxOccurs="1" ref="trackTarget" />
        <xs:element minOccurs="0" maxOccurs="1" ref="userDataReference" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" />
      <xs:attribute name="id" type="xs:ID" />
      <!--(#9)-->
      <xs:attribute name="fov" default="45" type="xs:string" />
      <xs:attribute default="1.3333333" name="aspectRatio" type="xs:string" />
      <xs:attribute default="perspective" name="projectionType">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="perspective" />
            <xs:enumeration value="orthographic" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="solid" name="polygonMode">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="points" />
            <xs:enumeration value="wireframe" />
            <xs:enumeration value="solid" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="yes" name="useRenderingDistance">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="yes" />
            <xs:enumeration value="no" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="1.0" name="lodBiasFactor" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="trackTarget">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="localDirectionVector" />
        <xs:element minOccurs="0" maxOccurs="1" ref="offset" />
      </xs:sequence>
      <xs:attribute name="nodeName" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="lookTarget">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="position" />
        <xs:element minOccurs="0" maxOccurs="1" ref="localDirectionVector" />
      </xs:sequence>
      <xs:attribute name="nodeName" type="xs:string" />
      <xs:attribute name="relativeTo" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="local" />
            <xs:enumeration value="parent" />
            <xs:enumeration value="world" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="lightAttenuation">
    <xs:complexType>
      <xs:attribute name="range" type="xs:string" use="required" />
      <xs:attribute name="constant" type="xs:string" use="required" />
      <xs:attribute name="linear" type="xs:string" use="required" />
      <xs:attribute name="quadratic" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <!--(#11)-->
  <xs:element name="lightRange">
    <xs:complexType>
      <xs:attribute name="inner" type="xs:string" use="required" />
      <xs:attribute name="outer" type="xs:string" use="required" />
      <xs:attribute name="falloff" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="entity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="commonMovableObjectParams" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="animations" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="animationStates" />
        <xs:element minOccurs="0" maxOccurs="1" ref="meshLODBias" />
        <xs:element minOccurs="0" maxOccurs="1" ref="materialLODBias" />
        <xs:element minOccurs="0" maxOccurs="1" ref="userDataReference" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" />
      <xs:attribute name="id" type="xs:ID" />
      <xs:attribute name="meshFile" type="xs:string" use="required" />
      <xs:attribute name="materialName" type="xs:string" />
      <xs:attribute default="false" name="displaySkeleton">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="false" name="polygonModeOverrideable">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="softwareAnimationRequests" type="xs:string" />
      <xs:attribute name="softwareAnimationRequestsNormalsAlso" type="xs:string" />
      <xs:attribute default="staticWriteOnly" name="vertexBufferUsage">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="static" />
            <xs:enumeration value="dynamic" />
            <xs:enumeration value="writeOnly" />
            <xs:enumeration value="staticWriteOnly" />
            <xs:enumeration value="dynamicWriteOnly" />
            <xs:enumeration value="discardable" />
            <xs:enumeration value="dynamicWriteOnlyDiscardable" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="false" name="vertexBufferUseShadow">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="staticWriteOnly" name="indexBufferUsage">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="static" />
            <xs:enumeration value="dynamic" />
            <xs:enumeration value="writeOnly" />
            <xs:enumeration value="staticWriteOnly" />
            <xs:enumeration value="dynamicWriteOnly" />
            <xs:enumeration value="discardable" />
            <xs:enumeration value="dynamicWriteOnlyDiscardable" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="false" name="indexBufferUseShadow">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="meshLODBias">
    <xs:complexType>
      <xs:attribute name="factor" type="xs:string" use="required" />
      <xs:attribute default="0" name="maxDetailIndex" type="xs:string" />
      <xs:attribute default="99" name="minDetailIndex" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="materialLODBias">
    <xs:complexType>
      <xs:attribute name="factor" type="xs:string" use="required" />
      <xs:attribute default="0" name="maxDetailIndex" type="xs:string" />
      <xs:attribute default="99" name="minDetailIndex" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="commonMovableObjectParams">
    <xs:complexType>
      <xs:attribute default="false" name="static">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="true" name="visible">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="true" name="castShadows">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="0" name="renderingDistance" type="xs:string" />
      <xs:attribute name="queryFlags" type="xs:string" />
      <xs:attribute name="visibilityFlags" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="environment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="fog" />
        <xs:element minOccurs="0" maxOccurs="1" ref="skyBox" />
        <xs:element minOccurs="0" maxOccurs="1" ref="skyDome" />
        <xs:element minOccurs="0" maxOccurs="1" ref="skyPlane" />
        <xs:element minOccurs="0" maxOccurs="1" ref="clipping" />
        <xs:element minOccurs="0" maxOccurs="1" ref="colourAmbient" />
        <xs:element minOccurs="0" maxOccurs="1" ref="colourBackground" />
        <xs:element minOccurs="0" maxOccurs="1" ref="userDataReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="clipping">
    <xs:complexType>
      <xs:attribute name="nearPlaneDist" type="xs:string" use="required" />
      <xs:attribute name="farPlaneDist" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="fog">
    <xs:complexType>
      <xs:attribute default="none" name="mode">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="none" />
            <xs:enumeration value="exp" />
            <xs:enumeration value="exp2" />
            <xs:enumeration value="linear" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="colourR" type="xs:string" use="required" />
      <xs:attribute name="colourG" type="xs:string" use="required" />
      <xs:attribute name="colourB" type="xs:string" use="required" />
      <xs:attribute default="0.001" name="expDensity" type="xs:string" />
      <xs:attribute default="0.0" name="linearStart" type="xs:string" />
      <xs:attribute default="1.0" name="linearEnd" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="skyBox">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="orientation" />
        <!--(#5)-->
        <xs:element minOccurs="0" maxOccurs="1" ref="quaternion" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute default="true" name="enabled">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="materialName" type="xs:string" use="required" />
      <xs:attribute default="5000" name="distance" type="xs:string" />
      <xs:attribute default="true" name="drawFirst">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="skyDome">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="orientation" />
        <!--(#5)-->
        <xs:element minOccurs="0" maxOccurs="1" ref="quaternion" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute default="true" name="enabled">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="materialName" type="xs:string" use="required" />
      <xs:attribute default="10" name="curvature" type="xs:string" />
      <xs:attribute default="8" name="tiling" type="xs:string" />
      <xs:attribute default="4000" name="distance" type="xs:string" />
      <xs:attribute default="true" name="drawFirst">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="16" name="xsegments" type="xs:string" />
      <xs:attribute default="16" name="ysegments" type="xs:string" />
      <xs:attribute default="-1" name="ysegments_keep" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="skyPlane">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute default="true" name="enabled">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="0" name="planeX" type="xs:string" />
      <xs:attribute default="-1" name="planeY" type="xs:string" />
      <xs:attribute default="0" name="planeZ" type="xs:string" />
      <xs:attribute default="5000" name="planeD" type="xs:string" />
      <xs:attribute name="materialName" type="xs:string" use="required" />
      <xs:attribute default="1000" name="scale" type="xs:string" />
      <xs:attribute default="10" name="tiling" type="xs:string" />
      <xs:attribute default="true" name="drawFirst">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="0" name="bow" type="xs:string" />
      <xs:attribute default="1" name="xsegments" type="xs:string" />
      <xs:attribute default="1" name="ysegments" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="billboardSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="commonMovableObjectParams" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="billboard" />
        <xs:element minOccurs="0" maxOccurs="1" ref="commonDirection" />
        <xs:element minOccurs="0" maxOccurs="1" ref="commonUpVector" />
        <xs:choice>
          <xs:element minOccurs="0" maxOccurs="1" ref="textureCoords" />
          <xs:element minOccurs="0" maxOccurs="1" ref="textureStacksAndSlices" />
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" />
      <xs:attribute name="id" type="xs:ID" />
      <xs:attribute default="20" name="poolSize" type="xs:string" />
      <xs:attribute default="true" name="autoextend">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="materialName" type="xs:string" use="required" />
      <xs:attribute default="10" name="defaultWidth" type="xs:string" />
      <xs:attribute default="10" name="defaultHeight" type="xs:string" />
      <xs:attribute default="point" name="billboardType">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="point" />
            <xs:enumeration value="orientedCommon" />
            <xs:enumeration value="orientedSelf" />
            <xs:enumeration value="perpendicularCommon" />
            <xs:enumeration value="perpendicularSelf" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="center" name="billboardOrigin">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="topLeft" />
            <xs:enumeration value="topCenter" />
            <xs:enumeration value="topRight" />
            <xs:enumeration value="centerLeft" />
            <xs:enumeration value="center" />
            <xs:enumeration value="centerRight" />
            <xs:enumeration value="bottomLeft" />
            <xs:enumeration value="bottomCenter" />
            <xs:enumeration value="bottomRight" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="texcoord" name="billboardRotationType">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="vertex" />
            <xs:enumeration value="texcoord" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="false" name="sortingEnabled">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="false" name="cullIndividually">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="false" name="accurateFacing">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="false" name="billboardsInWorldSpace">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="false" name="pointRenderingEnabled">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="billboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="position" />
        <xs:element minOccurs="0" maxOccurs="1" ref="colourDiffuse" />
        <xs:element minOccurs="0" maxOccurs="1" ref="textureCoords" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" />
      <xs:attribute name="rotation" type="xs:string" />
      <xs:attribute name="width" type="xs:string" />
      <xs:attribute name="height" type="xs:string" />
      <xs:attribute name="texcoordIndex" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="commonDirection">
    <xs:complexType>
      <xs:attribute name="x" type="xs:string" use="required" />
      <xs:attribute name="y" type="xs:string" use="required" />
      <xs:attribute name="z" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="commonUpVector">
    <xs:complexType>
      <xs:attribute name="x" type="xs:string" use="required" />
      <xs:attribute name="y" type="xs:string" use="required" />
      <xs:attribute name="z" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="textureCoords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="floatRect" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="floatRect">
    <xs:complexType>
      <xs:attribute name="left" type="xs:string" use="required" />
      <xs:attribute name="top" type="xs:string" use="required" />
      <xs:attribute name="right" type="xs:string" use="required" />
      <xs:attribute name="bottom" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="textureStacksAndSlices">
    <xs:complexType>
      <xs:attribute name="stacks" type="xs:string" use="required" />
      <xs:attribute name="slices" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="animationStates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="animationState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="animationState">
    <xs:complexType>
      <xs:attribute default="false" name="enabled">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="animationName" type="xs:string" use="required" />
      <xs:attribute default="0" name="timePosition" type="xs:string" />
      <xs:attribute name="length" type="xs:string" />
      <xs:attribute default="1.0" name="weight" type="xs:string" />
      <xs:attribute default="true" name="loop">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="animations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="animation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="animation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="nodeAnimationTrack" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="numericAnimationTrack" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="vertexAnimationTrack" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="type" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="node" />
            <xs:enumeration value="numeric" />
            <xs:enumeration value="mesh" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="length" type="xs:string" use="required" />
      <xs:attribute default="linear" name="interpolationMode">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="linear" />
            <xs:enumeration value="spline" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="linear" name="rotationInterpolationMode">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="linear" />
            <xs:enumeration value="spherical" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="nodeAnimationTrack">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="transformKeyFrame" />
      </xs:sequence>
      <xs:attribute name="handle" type="xs:string" use="required" />
      <xs:attribute name="associatedNodeName" type="xs:string" use="required" />
      <xs:attribute default="true" name="useShortestRotationPath">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="transformKeyFrame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="translation" />
        <xs:element minOccurs="0" maxOccurs="1" ref="orientation" />
        <!--(#5)-->
        <xs:element minOccurs="0" maxOccurs="1" ref="quaternion" />
        <xs:element minOccurs="0" maxOccurs="1" ref="scale" />
      </xs:sequence>
      <xs:attribute name="timePosition" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="translation">
    <xs:complexType>
      <xs:attribute name="x" type="xs:string" use="required" />
      <xs:attribute name="y" type="xs:string" use="required" />
      <xs:attribute name="z" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="vertexAnimationTrack">
    <xs:complexType>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="vertexMorphKeyFrame" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="vertexPoseKeyFrame" />
      </xs:choice>
      <xs:attribute name="handle" type="xs:string" use="required" />
      <xs:attribute name="vertexAnimationType" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="morph" />
            <xs:enumeration value="pose" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="software" name="targetMode">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="software" />
            <xs:enumeration value="hardware" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="vertexMorphKeyFrame">
    <xs:complexType>
      <xs:attribute name="timePosition" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="vertexPoseKeyFrame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="poseReference" />
      </xs:sequence>
      <xs:attribute name="timePosition" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="poseReference">
    <xs:complexType>
      <xs:attribute name="poseIndex" type="xs:string" use="required" />
      <xs:attribute name="influence" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="plane">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" ref="upVector" />
        <xs:element minOccurs="0" maxOccurs="1" ref="vertexBuffer" />
        <xs:element minOccurs="0" maxOccurs="1" ref="indexBuffer" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="id" type="xs:ID" />
      <xs:attribute name="normalX" type="xs:string" use="required" />
      <xs:attribute name="normalY" type="xs:string" use="required" />
      <xs:attribute name="normalZ" type="xs:string" use="required" />
      <xs:attribute name="distance" type="xs:string" use="required" />
      <xs:attribute name="width" type="xs:string" use="required" />
      <xs:attribute name="height" type="xs:string" use="required" />
      <xs:attribute default="1" name="xSegments" type="xs:string" />
      <xs:attribute default="1" name="ySegments" type="xs:string" />
      <xs:attribute default="true" name="normals">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="1" name="numTexCoordSets" type="xs:string" />
      <xs:attribute default="1" name="uTile" type="xs:string" />
      <xs:attribute default="1" name="vTile" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="externals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="item" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="item">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="file" />
      </xs:sequence>
      <xs:attribute name="type" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="file">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="position">
    <xs:complexType>
      <xs:attribute name="x" type="xs:string" use="required" />
      <xs:attribute name="y" type="xs:string" use="required" />
      <xs:attribute name="z" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="orientation">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="quaternion" />
        <xs:element ref="axisXYZ" />
        <xs:element ref="angle_axis" />
        <xs:element ref="direction" />
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="quaternion">
    <xs:complexType>
      <xs:attribute name="x" type="xs:string" use="required" />
      <xs:attribute name="y" type="xs:string" use="required" />
      <xs:attribute name="z" type="xs:string" use="required" />
      <xs:attribute name="w" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="axisXYZ">
    <xs:complexType>
      <xs:attribute name="xAxisX" type="xs:string" use="required" />
      <xs:attribute name="xAxisY" type="xs:string" use="required" />
      <xs:attribute name="xAxisZ" type="xs:string" use="required" />
      <xs:attribute name="yAxisX" type="xs:string" use="required" />
      <xs:attribute name="yAxisY" type="xs:string" use="required" />
      <xs:attribute name="yAxisZ" type="xs:string" use="required" />
      <xs:attribute name="zAxisX" type="xs:string" use="required" />
      <xs:attribute name="zAxisY" type="xs:string" use="required" />
      <xs:attribute name="zAxisZ" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="angle_axis">
    <xs:complexType>
      <xs:attribute name="angle" type="xs:string" use="required" />
      <xs:attribute default="degree" name="angleUnit">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="degree" />
            <xs:enumeration value="radian" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="x" type="xs:string" use="required" />
      <xs:attribute name="y" type="xs:string" use="required" />
      <xs:attribute name="z" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="direction">
    <xs:complexType>
      <xs:attribute name="x" type="xs:string" use="required" />
      <xs:attribute name="y" type="xs:string" use="required" />
      <xs:attribute name="z" type="xs:string" use="required" />
      <xs:attribute default="local" name="relativeTo">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="local" />
            <xs:enumeration value="parent" />
            <xs:enumeration value="world" />
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute default="0" name="localDirX" type="xs:string" />
      <xs:attribute default="0" name="localDirY" type="xs:string" />
      <xs:attribute default="-1" name="localDirZ" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="normal">
    <xs:complexType>
      <xs:attribute name="x" type="xs:string" use="required" />
      <xs:attribute name="y" type="xs:string" use="required" />
      <xs:attribute name="z" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="upVector">
    <xs:complexType>
      <xs:attribute name="x" type="xs:string" use="required" />
      <xs:attribute name="y" type="xs:string" use="required" />
      <xs:attribute name="z" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="offset">
    <xs:complexType>
      <xs:attribute name="x" type="xs:string" use="required" />
      <xs:attribute name="y" type="xs:string" use="required" />
      <xs:attribute name="z" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="localDirectionVector">
    <xs:complexType>
      <xs:attribute name="x" type="xs:string" use="required" />
      <xs:attribute name="y" type="xs:string" use="required" />
      <xs:attribute name="z" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="scale">
    <xs:complexType>
      <xs:attribute name="x" type="xs:double" use="required" />
      <xs:attribute name="y" type="xs:double" use="required" />
      <xs:attribute name="z" type="xs:double" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="colourDiffuse">
    <xs:complexType>
      <xs:attribute name="r" type="xs:string" use="required" />
      <xs:attribute name="g" type="xs:string" use="required" />
      <xs:attribute name="b" type="xs:string" use="required" />
      <xs:attribute name="a" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="colourSpecular">
    <xs:complexType>
      <xs:attribute name="r" type="xs:string" use="required" />
      <xs:attribute name="g" type="xs:string" use="required" />
      <xs:attribute name="b" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="colourAmbient">
    <xs:complexType>
      <xs:attribute name="r" type="xs:string" use="required" />
      <xs:attribute name="g" type="xs:string" use="required" />
      <xs:attribute name="b" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="colourBackground">
    <xs:complexType>
      <xs:attribute name="r" type="xs:string" use="required" />
      <xs:attribute name="g" type="xs:string" use="required" />
      <xs:attribute name="b" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="userDataReference">
    <xs:complexType>
      <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="octree">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="octnode" />
      </xs:sequence>
      <xs:attribute name="binFile" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="octNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="octNode" />
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="octMesh" />
      </xs:sequence>
      <xs:attribute name="px" type="xs:string" use="required" />
      <xs:attribute name="py" type="xs:string" use="required" />
      <xs:attribute name="pz" type="xs:string" use="required" />
      <xs:attribute name="width" type="xs:string" use="required" />
      <xs:attribute name="height" type="xs:string" use="required" />
      <xs:attribute name="depth" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
  <xs:element name="octMesh">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="octGeometry" />
        <xs:element ref="octMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="octGeometry">
    <xs:complexType>
      <xs:attribute name="binaryDataOffset" type="xs:string" use="required" />
      <xs:attribute name="vertTotal" type="xs:string" use="required" />
      <xs:attribute name="triTotal" type="xs:string" use="required" />
      <xs:attribute name="normalTotal" type="xs:string" />
      <xs:attribute name="colorTotal" type="xs:string" />
      <xs:attribute name="texSets" type="xs:string" />
      <xs:attribute name="texTotal" type="xs:string" />
    </xs:complexType>
  </xs:element>
  <xs:element name="octMaterial">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required" />
      <xs:attribute name="texture" type="xs:string" />
    </xs:complexType>
  </xs:element>
  
  <!--Manually added elements. Original dotScene.dtd/.xsd hasn't these elements but uses 'rm as in references. Added 'em for correct validations!-->
  <!--(#1)-->
  <xs:element name="indexBuffer">
  </xs:element>
  <!--(#1)-->

  <!--(#2)-->
  <xs:element name="numericAnimationTrack">
  </xs:element>
  <!--(#2)-->

  <!--(#3)-->
  <xs:element name="octnode">
  </xs:element>
  <!--(#3)-->

  <!--(#4)-->
  <xs:element name="vertexBuffer">
  </xs:element>
  <!--(#4)-->
  
</xs:schema>